*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.conatiner{
  width: 1440px;
  margin: 0 auto;
  background-color: #000;
}

/* navbar css start */
nav{
  display:flex;
  width: 1300px;
  padding: 20px;
  justify-content: space-between;
  background-color: palegoldenrod;
  }

nav .nav-left{
  gap: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: aqua;
}

nav .nav-left .menu {
  position: relative;
}

nav .nav-left .menu ul{
  display:flex;
  list-style: none;

}

nav .nav-left .menu ul li{
  padding: 20px;
  list-style-type: none;
  color: hsl(257, 7%, 63%);
  transition: all linear 0.7s;

  &:hover{
    color: #000;
  }
}

/* nav rights side */

nav .nav-right{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  background-color: rgb(67, 97, 97);

}

nav .nav-right .login-button{
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  transition: all linear 0.7s;

  &:hover{
    color:#000;
  }
  
}

nav .nav-right .signup-button{
  outline: 0;
  border: 0px;
  color: #fff;
  cursor: pointer;
  padding: 6px 11px;
  border-radius: 10%;
  background-color:hsl(180, 66%, 49%)

}

nav .nav-right .menu-icon{
  display: none;
}
/* navbar css end */








/* small screen css start */
@media  (max-width:600px){
  .conatiner{
    width: 100%;
  }

  nav{
    width: 100%;
  }

        /* nav left */
  nav .nav-left .menu ul{
    top:20px;
    right:23px;
    position: absolute;
    flex-direction: column;
  }

  nav .nav-left .menu-list{
    display: none;
  }

        /* nav right */
  nav .nav-right .menu-icon{
    display: block;
  }

  .login-button ,.signup-button{
    display: none;
  }
}